---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '@fontsource/atkinson-hyperlegible/400.css';
import '@fontsource/maple-mono/400.css';

interface Props {
  pageTitle?: string,
  blurb?: any,
  blahaj: boolean;
}

const { pageTitle, blurb, blahaj } = Astro.props;

---
<html lang="en">
  <head
      class="flex flex-col scroll-smooth"
      lang="en">
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header pageTitle={pageTitle} blurb={blurb} blahaj={blahaj}/>

    <main>
      <slot />
    </main>

    <Footer />

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
