---
import { getCollection, type CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

import BaseLayout from './BaseLayout.astro';
import PageSelector from '../components/PageSelector.astro';
import Button from '../components/Button.astro';
import PostCard from '../components/PostCard.astro';


interface Props {
  tag?: string;
  posts: CollectionEntry<'posts'>[];
}

const { tag, posts } = Astro.props;

const tag_title = tag && !['csmath', 'litphil', 'other'].includes(tag) ? tag : '';

const pageTitle = "Aster's writings 🪶"

const blurb = await getEntry('blurbs', 'blog');

const postsCollection = await getCollection('posts');
const allTags = Array.from(new Set(postsCollection.filter((post: CollectionEntry<'post'>) => !post.data.draft).flatMap((post: CollectionEntry<'post'>) => post.data.tags)));

---

<BaseLayout pageTitle={pageTitle} blurb={blurb} blahaj={true}>

  <PageSelector page="blog"/>

  <div class="mx-auto pb-4 w-full max-w-5xl flex flex-row box-border justify-between">
    <div class="min-w-[66%] flex flex-col">
      <div class="grid grid-cols-3 gap-4">
        <Button buttonText="Cs/Math" href="/tags/csmath" active={tag === 'csmath'} hrefBack="/posts"/>
        <Button buttonText="Lit/Phil" href="/tags/litphil" active={tag === 'litphil'} hrefBack="/posts"/>
        <Button buttonText="Other" href="/tags/other" active={tag === 'other'} hrefBack="/posts"/>
      </div>
      <div>
        {tag_title ? <h2 class="text-3xl pt-4 font-bold">Posts about <span class="text-green">{tag_title}</span></h2> : <h2 class="text-3xl pt-4 font-bold">Posts</h2>}
      </div>
      <div>
        <ul>
          {posts
          .filter((post) => !post.data.draft)
          .map((post: any) =><li><PostCard id={post.id} title={post.data.title} description={post.data?.description} tags={post.data.tags} created_at={post.data.created}/></li>)}
        </ul>
      </div>
    </div>
    <div class="min-w-[33%]">
      <p class="text-center text-xl font-bold pt-3">Filter by tag:</p>
      <ul class="pl-4 text-lg pt-4">
        {allTags
        .sort()
        .filter((tag) => !['csmath', 'litphil', 'other'].includes(tag))
        .map((t: String) => <li class:list={["hover:text-accent hover:underline", t===tag && "text-accent"]}><a href={`/tags/${t}`}>{t}</a></li>)}
      </ul>
      {tag && !['csmath', 'litphil', 'other'].includes(tag) && 
      <div class="text-center pt-8 hover:text-accent">
        <a class="text-center text-xl font-bold p-2 px-10 border rounded-lg" href={'/posts'}>Clear</a>
      </div>
      }
    </div>
  </div>

</BaseLayout>
