---
import { getCollection, type CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

import BaseLayout from './BaseLayout.astro';
import PageSelector from '../components/PageSelector.astro';
import Button from '../components/Button.astro';


interface Props {
  tag?: string;
  posts: CollectionEntry<'posts'>[];
}

const { tag, posts } = Astro.props;

const title = tag && !['csmath', 'litphil', 'other'].includes(tag) ? `Posts about ${tag}` : `Posts`;

const pageTitle = "Aster's writings 🪶"

const blurb = await getEntry('blurbs', 'blog');

const postsCollection = await getCollection('posts');
const allTags = Array.from(new Set(postsCollection.filter((post: CollectionEntry<'post'>) => !post.data.draft).flatMap((post: CollectionEntry<'post'>) => post.data.tags)));

---

<BaseLayout pageTitle={pageTitle} blurb={blurb} blahaj={true}>

  <PageSelector page="blog"/>

  <div class="mx-auto pb-4 w-full max-w-5xl flex flex-row box-border justify-between">
    <div class="min-w-[66%] flex flex-col">
      <div class="grid grid-cols-3 gap-4">
        <Button buttonText="Cs/Math" href="/tags/csmath" active={tag === 'csmath'} hrefBack="/posts"/>
        <Button buttonText="Lit/Phil" href="/tags/litphil" active={tag === 'litphil'} hrefBack="/posts"/>
        <Button buttonText="Other" href="/tags/other" active={tag === 'other'} hrefBack="/posts"/>
      </div>
      <div>
        <h2 class="text-3xl pt-4 font-bold">{title}</h2>
      </div>
      <div>
        <ul class="pt-4">
          {posts.filter((post) => !post.data.draft).map((post: any) => <li><a href={`/post/${post.id}`}>{post.title}{post.data.title}</a> | {post.data?.description} | {post.id}</li>)}
        </ul>
      </div>
    </div>
    <div class="min-w-[33%]">
      <p class="text-center text-xl font-bold pt-3">Filter by tag:</p>
      <ul class="pl-4 text-lg pt-4">
        {allTags
        .sort()
        .filter((tag) => !['csmath', 'litphil', 'other'].includes(tag))
        .map((tag: String) => <li><a href={`/tags/${tag}`}>{tag}</a></li>)}
      </ul>
    </div>
  </div>

</BaseLayout>
